[push]
	default = simple
[user]
	name = Matt Trusz
	email = mtrusz@wharton.upenn.edu
[core]
	editor = vim
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

